<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <form action="" method="POST">
        <input name="question" type="text">
        <input name="submit" type="submit">
    </form>

    <div id="simple-output">
    <h2>{{ question }}</h2>
    {% for answer in answers %}
        <h2>{% print(answer.data['label']) %} is a {% print(answer.data['description']) %}</h2>
        <dl>
        {% for key in answer.data['statements']: %}
            <dt>{% print(key) %}</dt>
            <dd>
                {% for value in answer.data['statements'][key]['values']: %}
                    {% print(value['data']) %} </br>
                {% endfor %}
            </dd>
        {% endfor %}
        </dl>
    {% endfor %}
    </div>
</body>
</html>